@font-face {
  font-family: "FiraGO";
  src: url("./fonts/FiraGO-Medium.woff2") format("woff2"),
    url("./fonts/FiraGO-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "FiraGO";
  src: url("./fonts/FiraGO-SemiBold.woff2") format("woff2"),
    url("./fonts/FiraGO-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "FiraGO";
  src: url("./fonts/FiraGO-Regular.woff2") format("woff2"),
    url("./fonts/FiraGO-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
